<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('templates/header') %>
  <title>Comics Marvel</title>
</head>

<body>

  <%- include('templates/navigationUser') %>

  <div class="container p-4">
    <div class="row">

    <%if (Comics.length > 0) {%>

    <% Comics.forEach(function(Comics) { %>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header bg-dark text-white">
          <%= Comics.title %>
        </div>
        <img class="card-img-top" src="<%= Comics.image %>">
        <div class="card card-body">Descripción:
          <%= Comics.description %>
        </div>
        <div class="card card-body">Genero;
          <%= Comics.gender %> <p>Autor: <%= Comics.autor %></p>
        </div>
        <div class="card-footer">
          <a href="/Buy/<%= Comics.id %>" onclick="alert('Compra Exitosa')" class="btn btn-success">
            Comprar
          </a>
        </div>
        
      </div>
    </div>
    <%})%>
    <%} else {%>
    <div class="card card-body text-center">
      <p>no hay Comics.</p>
    </div>
    <%}%>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.all.min.js"></script>
  <%- include('templates/footer') %>
</body>

</html>